fieldset.scheduler-border {
  width:inherit;
  padding:0 10px;
  border-bottom:none;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
}
