<div class="container-fluid">

  <div class="box_general">
    <div class="header_box">
      <h2 class="d-inline-block">Request List</h2>
      <div class="filter">
        <a (click)="exportToExcel()" class="btn btn-outline-secondary"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Export to Excel </a>

      </div>

    </div>
    <div class="list_general">
      <ul *ngFor="let d of listDemandes">
        <div *ngIf="loading">
          <ngx-loading></ngx-loading>
        </div>
        <li>
          <fieldset class="scheduler-border">
            <legend class="scheduler-border"> Candidature {{d.id}}</legend>
          <ul class="control-group">
            <li><strong>Candidate name : </strong> {{d.candidate.firstname}} {{ d.candidate.lastname}}</li>
            <li><strong>Candidate email : </strong> {{ d.candidate.email}}</li>
            <li><strong>Job Offer Details : </strong> Name :{{d.offre.name}}<br>
             Diplome :{{d.offre.diplome}}</li>
          </ul>
          <ul class="buttons">
            <li><a (click)="Approve(d)" class="btn btn-outline-success"><i class="fa fa-check-circle-o"></i> Approve</a></li>
            <li><a (click)="Cancel(d)" class="btn btn-outline-danger"><i class="fa fa-times-circle-o"></i> Cancel</a></li>
          </ul>
          </fieldset>
        </li>
      </ul>
    </div>
  </div>
  <!-- /box_general-->
  <nav aria-label="...">
    <ul class="pagination pagination-sm add_bottom_30">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <!-- /pagination-->
</div>
<!-- /container-fluid-->

<div *ngIf="accepted">
  <div id="breadcrumb">
    <div class="container">
      <ul>
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
  <!-- /breadcrumb -->
  <div class="container margin_120">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div id="confirm">
          <div class="icon icon--order-success svg add_bottom_15">
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
              <g fill="none" stroke="#8EC343" stroke-width="2">
                <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
              </g>
            </svg>
          </div>
          <h2>Select a Quiz for the Candidate</h2>
        </div>
      </div>
    </div>
  </div>
</div>
