<div>
  <div class="container mt-5 text-center">

    <div class="card w-85">

      <h5 class="card-header bg-secondary text-white">Quiz Result</h5>

      <div class="card-body"  style="min-height: 150px;">
        <h5 class="card-title text-success"> You completed the test with a score of : {{ score }} </h5>
        <h3 >Congratulations you've passed successfully your quiz , you are invited to an interview..</h3>
        <div class="col-8 text-right ">
          <button type="button" class="btn btn-primary" routerLink="interview" > Select a date </button>
        </div>
      </div>

    </div>

  </div>
</div>
